<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>QR-Gen</title>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script type="text/javascript">
    function clicked() {
       if (confirm('Do you want to generate QR for this URL?')) {
           yourformelement.submit();
       } else {
           return false;
       }
    }
    </script>

</head>

<body>
<h1> Home Page of QR-Gen</h1>
<!-- form for the getQR mapping-->
<form th:action="@{get}" th:object="${url}" method="get">
    <label for="uid">Search:</label><br>
    <input type="text" id="uid" name="uid" placeholder="qr to get"><br>
    <br>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>

<!-- form for the addQR mapping-->
<form th:action="@{/add}" th:object="${URL}" method="post">
    <label>Create:</label>
    <br>
    <input type="text" id="vanillaUrl" name="vanillaUrl" placeholder="input url"><br>
    <br>
    <input type="text" id="description" name="description" placeholder="input description"><br>
    <br>
    <input type="text" id="height" name="height" placeholder="input the height"><br>
    <br>
    <input type="text" id="width" name="width" placeholder="input the width"><br>
    <br>
    <div>
        <input type="submit" onclick="clicked();" value="Generate">
    </div>
</form>

<!-- form for the getQR mapping-->
<form th:action="@{delete}" th:object="${url}" method="post">
    <label for="uid">Delete:</label><br>
    <input type="text" id="uid2" name="uid" placeholder="qr to delete"><br>
    <br>
    <div>
        <input type="submit" value="Delete">
    </div>
</form>
<!--<span th:if="${add}" th:text="${add}">Generation</span>-->
<!--<span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>-->
</body>
</html>